
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: rgb(186, 73, 73);
  transition: background-color 0.5s ease-in-out;
  color: white;
  display: flex;

  justify-content: center;
  font-family: sans-serif;
}

 
